".autocomplete-plus input.hidden-input":
  "tab": "autocomplete-plus:confirm"
  "down": "autocomplete-plus:select-next"
  "ctrl-n": "autocomplete-plus:select-next"
  "up": "autocomplete-plus:select-previous"
  "ctrl-p": "autocomplete-plus:select-previous"
  "escape": "autocomplete-plus:cancel"

".editor":
  "ctrl-shift-space": "autocomplete-plus:activate"
