.autocomplete-plus {
  width: 200px;
  min-width: 200px;
  margin-left: 0;
  position: relative;
  padding: 2px !important;

  ol.list-group {
    overflow-y: auto !important;
    margin-top: 0;
    width: 100% !important;
    li {
      position: relative;
      .label {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0.3;
        padding-top: 8px;
      }
    }
  }

  .hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}
