.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.autocomplete-plus.popover-list {

  width: auto;
  display: inline-block;
  min-width: 200px;
  margin-left: 0;
  position: relative;
  input {
    position: absolute;
    opacity: 0.00;
  }

  ol.list-group {

    overflow-y: visible;
    margin-top: 0;
    li {
      .clearfix();
      .word {
        float: left;
      }
      .label {
        float: right;
        opacity: 0.3;
        padding-top: 8px;
      }
    }
  }
}
